@import "bootstrap/dist/css/bootstrap.css";

body {
  display: flex;
  justify-content: center;
  align-items: start;
  min-height: 100vh;
  margin-top: 4em !important;
}

main{
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu{
  display: flex;
  justify-content: center;
}

.menuTitle{
  margin-bottom: 3em;
  text-align: center;
}

.containerBtnsHome{
  display: flex;
  gap: 2em;
  justify-content: center;
}

.btn-home {
  color: white;
  text-decoration: none;
}

.form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 5em;
  border: solid 1px;
  border-radius: 20px;
  padding: 2em 0;
  width: 80%;
  margin: 0 auto;
  background-color: #d9dcde;
}

.formGroup {
  display: flex;
  gap: 5px;
}

.left {
  padding-top: 5%;
  display: grid;
  row-gap: 10px;
}

.right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  width: 10%;
  align-items: center;
  height: 40%;
}

.bv{
  grid-area: 1 / 1 / 2 / 2;
  
}
.bv:active{
  transition: all ease;
  transform: scale(0.8);
}

.nc{
  grid-area: 1 / 2 / 2 / 3;
}
.nc:active{
  transition: all ease;
  transform: scale(0.8);
}

.rod{
  grid-area: 2 / 1 / 3 / 3;
}
.rod:active{
  transition: all ease;
  transform: scale(0.8);
}

.btnActive{
  background-color: #6c757d !important;
  color: white !important;
  font-weight: bold !important;
}

.buttonsForm{
  display: flex;
  width: 70%;
  gap: 2em;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.tableHead{
  text-transform: uppercase;
}

.data{
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.table-dark{
  --bs-table-bg: #0d6efd !important;
}

.btnsData{
  width: 50%;
}

.footer{
  background-color: #0d6efd;
  margin-top: auto;
  line-height: 4em;
  display: flex;
  justify-content: center;
  width: 100vw !important;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  text-align: center;
}

/* _______________________________________________________________________________________________________ */
/* MEDIA QUERYS */
/* _______________________________________________________________________________________________________ */

/* _______________________________________________________________________________________________________ */
/* IPAD PRO (GRANDE) O PC PEQUEÑO */
/* _______________________________________________________________________________________________________ */

@media (max-width: 1024px) {
  body{
    align-items: center;
    margin-top: 0 !important;
  }

  .form{
    justify-content: flex-start;
    column-gap: 2em;
  }

  .data{
    width: 90%;
    overflow-x: scroll;
  }

  .table{
    align-self: start;
  }
}

/* _______________________________________________________________________________________________________ */
/* IPAD */
/* _______________________________________________________________________________________________________ */

@media (max-width: 1024px) {

  .containerBtnsHome{
    flex-wrap: wrap;
  }

  .form{
    column-gap: 0;
    flex-direction: column;
    width: auto;
    row-gap: 1.5em;
  }

  .left{
    width: 70%;
  }

  .data{
    width: 60%;
  }

  .btnsData{
    width: 80%;
  }
}

/* _______________________________________________________________________________________________________ */
/* PHONE */
/* _______________________________________________________________________________________________________ */

@media (max-width: 500px) {

  .containerBtnsHome{
    justify-content: center;
    margin: auto;
    width: 80%;
  }

  .formMain{
    margin-top: 40px;
    margin-bottom: 100px;
  }

  .form{
    width: 90%;
  }

  .left{
    width: 90%;
  }

  .right{
    justify-content: center;
  }

  div.col-7.gap-1{
    width: 50%;
    padding: 0;
  }

  div.col.row{
    padding-right: 4%;
  }

  label.col-6{
    padding-right: 0;
  }
  input#when.col-6{
    padding: 0;
  }

  .buttonsForm{
    flex-wrap: wrap;
  }

  .data{
    width: 30%;
  }

  .btnsData{
    width: 120%;
  }

  .footer{
    font-size: 10px;
  }

}

